<!DOCTYPE html>

<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="~/Content/estilo.css" />
</head>

<body>
    <form method="post" id="login">
        <h1>Login</h1>
        Usuário<br />
        <input type="text" id="cNomeUsuario" name="NomeUsuario" required maxlength="30" placeholder="Email" /><br /><br />
        Senha<br>
        <input type="password" id="cSenha" name="Senha" required maxlength="10" /><br /><br />
        <input type="submit" value="Entrar" /><br /><br />
        <a href="/home/cadastro">Cadastre-se</a>
    </form>
</body>
</html>